body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper{
  height: 600px;
  width: 600px;
  border: solid 1px black;
  border-collapse: collapse;
  display:flex;
  flex-wrap: wrap;
  
}

.square{
  border: solid 1px gray;
  flex-grow: 1;
}